@inject ShellNavigationManager NavigationManager

<ContentPage>
    <ScrollView>
        <StackLayout Padding="10">
            <Label Text="Select a playground..." FontSize="30" FontAttributes="FontAttributes.Bold" />
            <BoxView Margin="10" HeightRequest="2" Color="Color.DarkGray" HorizontalOptions="LayoutOptions.FillAndExpand" />
            <Button Text="Common controls" OnClick="@(async () => await NavigationManager.NavigateToAsync("/commoncontrols"))"></Button>
            <Button Text="Navigation playground" OnClick="@(async () => await NavigationManager.NavigateToAsync("/navigation"))"></Button>
            <Button Text="Gesture playground" OnClick="@(async () => await NavigationManager.NavigateToAsync("/gestureplayground"))"></Button>
            <Button Text="Skia Playground" OnClick="@(async () => await NavigationManager.NavigateToAsync("/skia"))"></Button>
            <Button Text="Picker Playground" OnClick="@(async () => await NavigationManager.NavigateToAsync("/pickerplayground"))"></Button>
        </StackLayout>
    </ScrollView>
</ContentPage>
