@using BlinForms.Framework.Controls
@using System.Drawing

<Panel Visible="true" BackColor="Color.Red" Top="300" Left="300" Width="300" Height="100">
    <Label Top="50" Left="10" Width="150" Height="23" BackColor="Color.Yellow" Text="This label is nested"></Label>
</Panel>


@*<Timer OnTick="@OnTimerTick" />*@

<Button Top="50" Width="300" Text="@("Increment: " + count)" Height="23" OnClick="@IncrementCount" />

<Label Top="100" Width="200" Height="23" BackColor="Color.AliceBlue" Text="@("I'm a label: " + labelCount)"></Label>


<Button Top="200" Width="400" Height="23" BackColor="Color.Orange" Text="@($"Show details... (visible={isDetailsVisible})")" OnClick="@ToggleDetailsVisible" />

@if (isDetailsVisible)
{
    <Label Top="250" Width="200" Height="23" BackColor="Color.Cyan" Text="Details visible.."></Label>
}
else
{
    <Label Top="300" Width="200" Height="23" BackColor="Color.Magenta" Text="Details NOT visible..."></Label>
}

@code {
    int count = 0;
    int labelCount = 0;

    bool isDetailsVisible = true;

    void IncrementCount()
    {
        count++;
    }

    void ToggleDetailsVisible()
    {
        isDetailsVisible = !isDetailsVisible;
    }

    void OnTimerTick()
    {
        labelCount += 10;
    }
}
