@page "/test"
@page "/test/{Id}"
@page "/test/{Id}/{color}"
@page "/test/{Id}/{color}"
@page "/test/{Id}/color/{name}"
@page "/test/{Id}/{color}/{name}/{age}"
@page "/test/{Id}/{color}/{name}/{age}/{birthday}"

<ContentView>
    <StackLayout>
        <Label Text="BearDetailPage"></Label>
        <Label Text="@Id"></Label>
        <Label Text="@color"></Label>
        <Label Text="@name"></Label>
        <Label Text="@age.ToString()"></Label>
        <Label Text="@Birthday.ToString()"></Label>

        <Button Text="Check Bear" OnClick="CheckBear"></Button>
    </StackLayout>
</ContentView>


@code {
    [Parameter] public string Id { get; set; } = "Id not passed";
    [Parameter] public string color { get; set; } = "color not passed";
    [Parameter] public string name { get; set; } = "name not passed";
    [Parameter] public int age { get; set; } = 5;
    [Parameter] public DateTime Birthday { get; set; } = DateTime.UtcNow.AddDays(-20);

    void CheckBear()
    {
        System.Diagnostics.Debug.WriteLine($"bear Id = {Id}");

        Id = "teadfsgadsgrr";

        StateHasChanged();
    }


}
